@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caprasimo&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Noto+Sans+Linear+B&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:wght@400;700&family=Raleway:ital,wght@0,800;1,500&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  color: #fff;
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 6.4rem 1.6rem;
  background-color: #08070b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono";
  font-weight: 700;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
h1 {
  color: #817d92;
  font-size: 1.6rem;
}
.ganerated-password-div {
  background-color: #24232c;
  width: 100%;
  padding: 1.7rem 2.2rem 1.5rem 1.6rem;
  display: flex;
  justify-content: space-between;
}
.ganerated-password {
  color: #e6e5ea;
  font-size: 2rem;
  /* letter-spacing: 0.1rem; */
}
.input-container {
  background-color: #24232c;
  padding: 1.6rem;
  width: 100%;
}
.range-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.range-title {
  color: #e6e5ea;
  font-size: 1.6rem;
}
.range-number {
  color: #a4ffaf;
  font-size: 2.4rem;
}
.range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5rem;
  height: 0.8rem;
  background: linear-gradient(to right, #a4ffaf 50%, #18171f 50%);
  margin: 1.8rem 0 3.2rem;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e6e5ea;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

/* Checkbox-ის სტილები */
.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  color: #e6e5ea;
  font-size: 1.6rem;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #e6e5ea;
  cursor: pointer;
  position: relative;
  cursor: pointer;
}
.checkbox:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 0.05rem;
  left: 0.4rem;
  width: 0.5rem;
  height: 1rem;
  border: solid #18171f;
  border-width: 0 0.4rem 0.4rem 0;
  transform: rotate(45deg);
}
/*  */
.strength-info-container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
  background-color: #18171f;
  padding: 1.4rem;
}
.strangth-info-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.strength-title {
  color: #817d92;
  font-size: 1.6rem;
}
.about-strength {
  color: #e6e5ea;
  font-size: 1.8rem;
}
.strength-meter-div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.strength-meter {
  width: 1rem;
  height: 2.8rem;
  border: 0.2rem solid #e6e5ea;
}
.generate-button {
  padding: 1.8rem 10.3rem;
  background-color: #a4ffaf;
  color: #24232c;
  font-weight: 700;
  font-size: 1.6rem;
}
.generate-button span {
  margin-left: 1.6rem;
}
